.App {
    flex: 1;
    display: flex;
    margin-top: 4em;
    font-family: SansSerif;
    height: calc(100vh - 4em);
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Flex-Container-Center {
    padding: 0.2em;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.App-link {
    color: #61dafb;
}

.Center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
